doctype html
html(lang='es')
	head
		title Practicando animaciones
		meta(charset='utf-8')
		link(rel='stylesheet', href='estilos.css')
	body
		div(class='aro_izquierdo')
		div(class='aro_medio')
		div(class='aro_derecho')